# 리스트(list) 자료형
- 숫자나 문자들의 모음을 하나의 자료형으로 표현하기 위해 사용
- format : listName = (e1, e2, e3 . . . )

## 리스트 자료형 선언

In [4]:
var01 = []
var02 = [1,2,3]
var03 = ['I', 'have', "a", "dream"]
var04 = [1, 2, 'dream', 'True']
var05 = [1, 2, ['Dream', 'true']]

## 리스트의 indexing과 Slicing

In [9]:
print(var01)
print(var02)
print(var03)
print(var04)
print(var05)

print(var05[2]) # 결과는 ['Dream', 'true']
print(var05[2][0]) # 결과는 Dream

[]
[1, 2, 3]
['I', 'have', 'a', 'dream']
[1, 2, 'dream', 'True']
[1, 2, ['Dream', 'true']]
['Dream', 'true']
Dream

In [11]:
# 리스트의 계산
var02[0] + var02[1] # 1+2

3

In [32]:
# 3중 리스트에서 indexing에서 Dream만 출력하기
var = [1, 2, ['a', 'b', ['Dream', "True"]]]

print(var[-1][-1][-2])
print(var[-1][-1][0])
print(var[-1]) # 결과는 ['a', 'b', ['Dream', 'True']]
print(var[-1][-1]) # 결과는 ['Dream', 'True']

Dream
Dream
['a', 'b', ['Dream', 'True']]
['Dream', 'True']

In [34]:
print(var[2:]) # 결과는 [['a', 'b', ['Dream', 'True']]]

[['a', 'b', ['Dream', 'True']]]

## 리스트 연산

In [35]:
# 리스트의 숫자 합치기
var01 = [1,2,3]
var02 = [4,5,6]
var01 + var02 # 결과는 [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [41]:
# 리스트의 덧셈
for i in range(0, 3):
    print(var01[i]+var02[i])

5
7
9

In [42]:
# 리스트의 숫자 반복
var01 * 3 # 결과는 [1, 2, 3, 1, 2, 3, 1, 2, 3]

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [60]:
# 리스트의 곱셈
# var01의 data를 10배 계산하여 출력하기
# 10
# 20
# 30

for i in var01:
    print(i*10)

10
20
30

In [53]:
# 리스트의 타입 변환
var = [1,2,3]
print(str(var[2]) + "hi") # 결과는 3hi

3hi

In [2]:
temp = '123'
temp1 = int(temp) # 문자열 -> int로
temp1

123

## 리스트의 수정과 삭제

In [73]:
var = [1,2,3]
var[2] = 4
var # 결과는 [1, 2, 4]

[1, 2, 4]

In [74]:
# 리스트의 수정
var[1:2] = ['a', 'b', 'c']
var # 결과는 [1, 'a', 'b', 'c', 4]

[1, 'a', 'b', 'c', 4]

In [77]:
# 1-2번지의 데이터를 지우기
var[1:3] = [] # 결과는 [1, 'c', 4]
print(var)

# 삭제는
del var[1:3]
print(var) # 결과는 [1]

[1]

In [80]:
# 리스트에 요소 추가
var = [1,2,3]
var.append(4) # 결과는 [1, 2, 3, 4]
var

[1, 2, 3, 4]

In [82]:
var.append([5,6])
var # 결과는 [1, 2, 3, 4, [5, 6]]

[1, 2, 3, 4, [5, 6], [5, 6]]

In [92]:
# 리스트의 정렬
var = [1,4,3,2]
print(var) # 결과는 [1, 4, 3, 2]

# 오름차순
var.sort() 
print(var) # 결과는 [1, 2, 3, 4]

# 내림차순
var.reverse()
print(var) # 결과는 [4, 3, 2, 1]
print(var[0]) # 결과는 4

print(max(var)) # 최대값 4
print(min(var)) # 최소값 1

[1, 4, 3, 2]
[1, 2, 3, 4]
[4, 3, 2, 1]
4
4
1

In [99]:
# 리스트 문자 정렬 (한글)
var = ['대', '한', '민', '국']

# 오름차순
var.sort()
print(var) # 결과는 ['국', '대', '민', '한']
print(var.sort()) # 결과는 None

# 내림차순
var.reverse()
print(var) # 결과는 ['한', '민', '대', '국']

['국', '대', '민', '한']
None
['한', '민', '대', '국']

In [100]:
# 리스트의 위치 정보
var = [4,5,6]
var.index(5) # 결과는 1(번지에 있음)

1

In [101]:
# 리스트의 요소 삽입
var = [1,2,3]
var.insert(0, 4) # 0번지에 4를 삽입
var

[4, 1, 2, 3]

In [102]:
# 리스트에 요소 제거
var = [1,2,3,4,5,6]

# 데이터(요소)가 4인 것을 제거
var.remove(4)
var # 결과는 [1, 2, 3, 5, 6]

[1, 2, 3, 5, 6]

In [105]:
# 리스트 요소 추출하기
var = [1,2,3]
print(var.pop()) # 결과는 3
print(var) # 결과는 [1, 2]
print(var.pop()) # 결과는 2
print(var) # 결과는 [1]

3
[1, 2]
2
[1]

In [106]:
# for문을 사용한 pop
var = [1,2,3]
for i in range(0, 3):
    print(var.pop())
    
print(var)

# 3
# 2
# 1
# []

3
2
1
[]

In [107]:
# 리스트의 확장
var = [1,2,3,4]
var1 = [5,6]
var.extend(var1) # 결과는 [1, 2, 3, 4, 5, 6]
# var + var1과 같음

[1, 2, 3, 4, 5, 6]