# 집합(Set)

In [2]:
# 집합 정의 
# 중복된 값은 들어갈 수 없다.
a1 = set([1,2,3,4,5,5,5,5,5])
a1 # 결과는 {1, 2, 3, 4, 5}

s1 = set([1,2,3,4,5])
s2 = set([4,5,6,7,8,9])
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}

In [3]:
# 교집합
print(s1 & s2) # 결과는 {4, 5}
print(s1.intersection(s2)) # 결과는 {4, 5}

{4, 5}
{4, 5}

In [5]:
# 합집합
print(s1 | s2) # 결과는 {1, 2, 3, 4, 5, 6, 7, 8, 9}
print(s1.union(s2)) # 결과는 {1, 2, 3, 4, 5, 6, 7, 8, 9}

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [7]:
# 차집합
print(s1 - s2) # 결과는 {1, 2, 3}
print(s1.difference(s2)) # 결과는 {1, 2, 3}

{1, 2, 3}
{1, 2, 3}

In [14]:
# 값 1개 추가
s1.add(4) # 결과는 {1, 2, 3, 4, 5}
s1
s1.add(7) # 결과는 {1, 2, 3, 4, 5, 7}
s1
s1.add(10) # 결과는 {1, 2, 3, 4, 5, 7, 10}
s1

{1, 2, 3, 4, 5, 7, 10, 20, 30, 40}

In [15]:
# 값 여러개 추가
s1.update([20,30,40])
s1 # 결과는 {1, 2, 3, 4, 5, 7, 10, 20, 30, 40}

{1, 2, 3, 4, 5, 7, 10, 20, 30, 40}

In [16]:
# 특정값 제거
s1.remove(10)
s1 # 결과는 {1, 2, 3, 4, 5, 7, 20, 30, 40}

{1, 2, 3, 4, 5, 7, 20, 30, 40}