## range 함수
range(시작숫자, 끝숫자, 증가값)

In [1]:
var = range(1, 11)
var # 결과는 range(1, 11)

range(1, 11)

In [2]:
# range의 범위를 list로 출력 ** 중요 **

list(range(1, 11))
# 결과는 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
list(range(0, 11, 2)) 
# 결과는 [0, 2, 4, 6, 8, 10]

[0, 2, 4, 6, 8, 10]

In [5]:
list(range(10, 0, -2))
# 결과는 [10, 8, 6, 4, 2]

[10, 8, 6, 4, 2]

In [7]:
list(range(0, 10, -2))
# 결과는 []

[]

In [8]:
var = range(1, 11)
var[9]
# 결과는 10

10

In [11]:
var[7:9]
# 결과는 range(8, 10)

range(8, 10)

In [10]:
type(var)
# 결과는 range

range

## for문에 range함수 사용하기

In [12]:
for i in range(1, 11):
    print(i)
    # 결과는 1 2 3 4 5 6 7 8 9 10 11

1
2
3
4
5
6
7
8
9
10

In [13]:
for i in range(5):
    print(i)
    # 결과는 0 1 2 3 4

0
1
2
3
4

In [14]:
# 1부터 10까지의 수 중 홀수만 출력
for i in range(1, 11, 2):
    print(i)
    # 결과는 1 3 5 7 9

1
3
5
7
9

In [17]:
# 구구단 9단 출력
num = 9
for i in range(1, 10, 1):
    print(num, 'X' , i , '=', '%2d'%(num*i) )
    
# 결과는
# 9 X 1 = 9
# 9 X 2 = 18
# 9 X 3 = 27
# 9 X 4 = 36
# 9 X 5 = 45
# 9 X 6 = 54
# 9 X 7 = 63
# 9 X 8 = 72
# 9 X 9 = 81

9 X 1 =  9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [18]:
print('aaa', end = ' ')
print('bbb')
# 결과는 aaa bbb

aaa bbb

In [29]:
# 구구단 결과만 출력하기(1, 2단)
num = 1
for i in range(1, 10, 1):
    if i > 1:
        print('\n')
    for j in range(1, 10, 1):
            print('%2d'%(i*j), end = ' ')

 1  2  3  4  5  6  7  8  9

 2  4  6  8 10 12 14 16 18

 3  6  9 12 15 18 21 24 27

 4  8 12 16 20 24 28 32 36

 5 10 15 20 25 30 35 40 45

 6 12 18 24 30 36 42 48 54

 7 14 21 28 35 42 49 56 63

 8 16 24 32 40 48 56 64 72

 9 18 27 36 45 54 63 72 81

In [31]:
test_list = ['one', 'two', 'three']
# print(test_list)

for i in test_list:
    print(i)
    #결과는 
    #one 
    #two 
    #three

one
two
three

In [34]:
# list로 평균 구하기
scores = [78, 85, 95, 65]

total = 0
for score in scores:
    total += score
    
print(total / len(scores)) # 결과는 80.75

80.75

## for문에 Tuple 사용하기

In [37]:
# 튜플은 값을 변경할 수 없음

var = [(1,2), (3,4), (5,6)]

for first, last in var:
    print(first, ":", last)
    # 결과는
    # 1 : 2
    # 3 : 4
    # 5 : 6

1 : 2
3 : 4
5 : 6

In [39]:
sum1 = 0
for first, last in var:
    sum1 += first + last
    
print(sum1) # 결과는 21

21

총 5명의 학생이 시험을 보았는 데, 시험점수가 60점이상이면 합격이고,   
그렇지 않으면 불합격이다.   
합격, 불합격 결과 보여주기

In [64]:
scores = [90, 25, 67, 45, 80]

for number in range(len(scores)):
    if scores[number] < 60:
        print("%d의 학생은 불합격 입니다."%(number+1))
    else:
        print("%d의 학생은 합격 입닌다."%(number+1))

1의 학생은 합격 입닌다.
2의 학생은 불합격 입니다.
3의 학생은 합격 입닌다.
4의 학생은 불합격 입니다.
5의 학생은 합격 입닌다.

In [79]:
scores = [90, 25, 67, 45, 80]
number = 1

for score in scores:
    if score < 60:
        print("%d의 학생은 점수가 %d이어서 불합격 입니다."%(number,score))
    else:
        print("%d의 학생은 점수가 %d이어서 합격 입니다."%(number,score))
        number += 1

1의 학생은 점수가 90이어서 합격 입니다.
2의 학생은 점수가 25이어서 불합격 입니다.
2의 학생은 점수가 67이어서 합격 입니다.
3의 학생은 점수가 45이어서 불합격 입니다.
3의 학생은 점수가 80이어서 합격 입니다.

학생들 점수의 평균을 구하여 평균점수 기준으로 합격, 불합격 보여주기

In [92]:
import numpy as np
scores = [90, 25, 67, 45, 80]

number = 1   # 학생번호
avg = 0.0    # 평균 점수
total = 0    # 학생들의 점수 총점

avg = np.mean(scores) # 결과는 61.4
total = np.sum(scores) # 결과는 307


print('학급의 평균 점수는 %0.2f 입니다.\n'%(avg))
for score in scores:
    if score < avg:
        print('%d의 학생은 점수가 %d이어서 불합격 입니다.'%(number,score))
    else:
        print('%d의 학생은 점수가 %d이어서 합격입니다.'%(number,score))
        number +=1

학급의 평균 점수는 61.40 입니다.

1의 학생은 점수가 90이어서 합격입니다.
2의 학생은 점수가 25이어서 불합격 입니다.
2의 학생은 점수가 67이어서 합격입니다.
3의 학생은 점수가 45이어서 불합격 입니다.
3의 학생은 점수가 80이어서 합격입니다.

In [95]:
var01 = [1,2,3,4]
var02 = []

for i in var01:
    var02.append(i * 5)
    
print(var02)
# 결과는 [5, 10, 15, 20]

[5, 10, 15, 20]

## 파이썬의 listed for문

In [96]:
var01 = [1,2,3,4]
var02 = []

var02 = [i * 5 for i in var01] # 데이터값연산하여 넣기(1줄)
var02
# 결과는 [5, 10, 15, 20]

[5, 10, 15, 20]

In [108]:
# 위의 소스에서 짝수인 경우에만 5를 곱하는 리스트 만들기
var01 = [1,2,3,4]
var02 = []

var02 = [i * 5 for i in var01 if i % 2 == 0] # 데이터값연산하여 넣기(1줄)
var02
# 결과는 [10, 20]

[10, 20]

In [115]:
# 구구단 결과만 list로 만들기(2단 ~ 9단) (1줄로)
result = [i * j for i in range(2, 10) for j in range(1, 10)]
print(result)
# 결과는 [2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [121]:
# 60점 이상의 학생점수만 List로 만들어 평균 구하기
scores = [90, 25, 67, 45, 80]
passList = [i for i in scores if i >= 60]
print(passList)

print("합격한 학생들의 평균 점수는 %.2f입니다"%np.mean(passList))

# 결과
# [90, 67, 80]
# 합격한 학생들의 평균 점수는 79.00입니다

[90, 67, 80]
합격한 학생들의 평균 점수는 79.00입니다